h1		{
			color: rgb(70, 52, 52);
            font-size: 48px;
            font-weight: bold;
            text-align: center; /* This is new * to center heading text*/
            border-bottom: 5px solid black;
            

		}

body    {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			text-decoration: underline;
            background-color:   #DCDCDC;
            color: darkslategray;
          
        }


h2
		 {
			text-shadow: underline;
			font-weight: bolder;
			color: rgb(3, 3, 6);
		}

		
div     { background-color:   #090909;
        text-align: center; 
 

}